<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thank You</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/Thank.css'%}" />
    <script src="main.js"></script>
</head>
<body background>
</br>
</br>
</br>
</br>
</br>
</br></br></br></br></br></br>
        <h3>Thank you</h3>
        <h4>Please wait for the pickup...</h4>
        <a href={% url 'home' %} style="text-decoration: none"><button class="button button1">Back to Home</button></a>
    
    
</body>
</html>