body{
    background-color: #f9f9f9;
    background-image:url("/static/css/tree.jpg");
    background-attachment: fixed;
    color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    vertical-align: middle;
    
}
h3{
    font-size: 5em ;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 100;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: rgb(28, 134, 14);
    border: 2px solid #555555;
    border-radius: 12px;
}

.button1:hover {
    background-color: #555555;
    color: white;
}